* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' !important;
}
$grenc: 5E8A62;
p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #000000;
}

h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

.bold {
    font-weight: bold;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    background-image: url(img/Main_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    margin-bottom: 32px;
}

.top {
    background: rgba(94, 138, 98, 0.25);
    border-radius: 0px 0px 0px 90px;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 40px;
    box-sizing: border-box;
}

.top__nav {
    display: flex;
    gap: 20px;
    padding-top: 10px;
    box-sizing: border-box;
}

.top__nav a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

.main_category {
    padding-top: 64px;
    padding-bottom: 32px;
}


.categories {
    &__buttons {
        display: flex;
        justify-items: center;
        gap: 12px;
        padding-bottom: 36px;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows:repeat(548px);
        justify-items: center;
        gap: 36px;
    }
    &__sorting_button {
        background: #ffffff00;
        border-radius: 15px;
        border: 2px solid black;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #000000;
        transition: all 0.05s;
        padding: 16px;
        &:active {
            box-shadow: 2px 2px 2px 2px;
        }
    }
    &__section_header {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    
}


.four_items {
    display: flex;
    flex-direction: column;
    &__header {
        padding-top: 32px;
        padding-bottom: 64px;
        text-align: center;
    }

    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 93px;
    }
}

.item_div {
    width: 227.25px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s;
    &:hover {
        scale: 1.01;
    }
    &__img {
        height: 347px;
    }
    &__amount {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 100%;
        &_div {
            background: #ffffff00;
            border-radius: 15px;
            border: 2px solid black;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #000000;
            transition: all 0.05s;
            padding: 16px;
        }
        & img {
            height: 35px;
            transition: all 0.1s;
            &:active{
                scale: 1.1;
            }
        }
    }
    
}

.item_card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 80vh;
    background: white;
    border-radius: 1rem;
    overflow: hidden; /* important */
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    z-index: 999;
    box-sizing: border-box;

    border-radius: 10px;
    border: #000 1px solid;
    &_scrollable {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow-y: auto;
        padding: 1rem;

        display: flex;
        flex-direction: column;
        // 🛠 change this:
        // align-items: flex-end; ❌ this is shrinking your modal content
        align-items: flex-end; // or remove this line entirely
    }
    & img {
        width: 50px;
    }
    &_left {
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        padding-right: 20px;
        padding-top: 16px;
        padding-left: 20px;
    }
    &_main {
        width: 100%;
        display: flex;
        border-top: #000 solid 1px;
        margin-top: 10px;
        & img {
            width: auto;
        }
    }
    &_descr {
        border-left: #000 1px solid;
        padding-left: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        word-break: break-word;
        text-align: justify;
        gap: 10px;
        padding-top: 15px;
        & h3 {
            font-size: 24px;
        }
        & p {
            font-size: 16px;
        }
        &_top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            & img {
                width: 50px;
            }
        }
    }
    &BG {
        top: 0;
        left: 0;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: #44444475;
        &.hidden {
            display: none;
        }
    }
}


.price_n_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.add_to_cart {
    padding: 20px;
    background: #5E8A62;
    border-radius: 15px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    transition: all 0.2s;
    &:hover{
        box-shadow: #000 2px 2px 2px 2px;
    }
    &:active {
        box-shadow: 2px 2px 2px 2px;
    }
    &__amount {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 2px;
        width: 60%;
        & button {
            color: white;
            width: 100%;
            height: 50%;
            background-color: #5E8A62;
            border: none;
            border-radius: 10px;
            transition: all 0.1s;
            &:active{
                scale: 1.06;
            }
        }
        & .disabled_decrease{
            color: black;
            width: 100%;
            height: 50%;
            background-color: #ffffff00;
            border: black solid 2px;
            border-radius: 10px;
            transition: none;
        }
    }
}

.item_name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding-top: 36px;
}

.more_items {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-decoration-line: underline;
    color: #000000;
    margin-top: 64px;
    margin-bottom: 32px;
    display: block;
}

.main_goals {
    background: linear-gradient(179.43deg, #FFFFFF 1.71%, #000000 44.98%, #FFFFFF 97.19%);
    display: flex;
    flex-direction: column;
    align-items: center;
    &__header {
        padding-bottom: 78px;
    }
    &__div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
    &__div a {
        transition: all 0.2s;
        &:hover {
            scale: 1.05;
        }
    }
}

.eight_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 123px;
}

.first_price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.second_price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: line-through;
    color: #888888;
}

.main_bottom_header {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    padding-bottom: 64px;
    &2 {
        font-weight: 600;
        font-size: 40px;
        line-height: 49px;
        padding-bottom: 64px;
    }
}

.shops_policy {
    padding-top: 32px;
    padding-bottom: 64px;
}

section.main_bottom p {
    font-weight: 500;
}

.footer {
    background: #5E8A62;
    border-radius: 90px 0px 0px 0px;
    height: 130px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 64px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    padding-left: 32px;
}

.footer__nav {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 32px;
    &_links {
        display: flex;
        box-sizing: border-box;
        gap: 48px;
    }
    &_links a {
        color: #FFFFFF;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-decoration: none;
    }
    & p {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    }
}

/*GOALSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS*/
.top_else {
    background: #5E8A62;
    border-radius: 0px 0px 0px 90px;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 40px;
    box-sizing: border-box;
}
.bread_crumbs {
    padding-top: 32px;
    padding-bottom: 32px;
    & p {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
    }
    & a {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #0275D8; 
        text-decoration: none;
    }
    & a:hover {
        text-decoration: underline;
    }
    & a, & p {
        display: unset;
    }
}
.mass_img_header {
    margin-left: calc(50% - 600px);
    margin-right: calc(50% - 600px);
    width: 1200px;
    height: 511px;
    box-shadow: 10px 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.mass_header {
    padding-top: 32px;
    padding-bottom: 64px;
}

.mass_bottom_header {
    padding-bottom: 32px;
}

.weight_loss_header {
    padding-top: 32px;
}

.endurance_first_header {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
}

.endurance_second_header {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.endurance_fourth_header {
    padding-top: 32px;
}

.endurance_beta {
    font-weight: bold;
}

.beginner_header {
    font-weight: 600;
    padding-bottom: 32px;
}

.endurance_header__list {
    list-style-position: inside;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.bread_crumbs_withbd {
    padding-bottom: 24px;
    margin-bottom: 32px;
    border-bottom: 1px solid #000;
    margin-left: calc(50% - 600px);
    margin-right: calc(50% - 600px);
}

.bottom_margin_123px {
    margin-bottom: 123px;
}

.fit-rx_NRG {
    width: 256px;
    height: 233px;
}

.manufactors_first_header {
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    text-decoration-line: underline;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 32px;
}
.manufactors_first_img {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: calc(50% - 600px);
    margin-right: calc(50% - 600px);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.manufactor_paragraph {
    padding-bottom: 32px;
}

.manufactor_h2 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.manufactors_second_img {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 32px;
    text-shadow: none;
    box-shadow: inset 0px 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.delivery_second_size {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.delivery_third_size {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 32px;
}

.padding_top {
    padding-top: 32px;
}

.delivery_pochta_div {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

.pochta {
    width: 180px;
}

.payment_header {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.name_of_textbox {
    padding-bottom: 13px;
    padding-top: 32px;
}

.contacts_textbox {
    margin-left: calc(50% - 600px);
    margin-right: calc(50% - 600px);
    width: 394px;
    height: 69px;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    white-space: normal;
}

.contacts_textbox_big {
    height: 194px;
    width: 673px;
    padding:10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.contacts_submit {
    background: #5E8A62;
    border-radius: 15px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    width: 673px;
    height: 67px;
    margin-left: calc(50% - 600px);
    margin-right: calc(50% - 600px);
    margin-top: 22px;
    transition: all 0.2s;
    &:active {
        transform: scale(1.05);
    }
}
.form {
    &_holder {
        display: flex;
        justify-content: space-between;
    }
    &_log {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 450px;
    }
    &_reg {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 450px;
    }
    &_name {
        padding-bottom: 13px;
        padding-top: 32px;
    }
    &_textbox {
        margin-left: calc(50% - 600px);
        margin-right: calc(50% - 600px);
        width: 394px;
        height: 69px;
        border: 1px solid #000000;
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        white-space: normal;
    }
    
    &_textbox_big {
        height: 194px;
        width: 673px;
        padding:10px;
        box-sizing: border-box;
        border-radius: 10px;
    }
    &_error {
        display: none;
        padding-bottom: 13px;
        width: 394px;
        padding-top: 32px;
        text-align: center;
    }
    
    &_submit {
        background: #5E8A62;
        border-radius: 15px;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        width: 430px;
        height: 100px;
        margin-left: calc(50% - 600px);
        margin-right: calc(50% - 600px);
        margin-top: 22px;
        transition: all 0.2s;
        &:active {
            transform: scale(1.05);
        }
    }
}
.PA {
    &__logout {
        padding: 10px;
        background: #5E8A62;
        border-radius: 15px;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        border: 2px solid black;
        line-height: 37px;
        width: 300px;
        transition: all 0.2s;
        &:active {
            transform: scale(1.05);
        }
    }
    &__top {
        box-sizing: border-box;
        padding-top: 36px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 48px;
        background-color: #8e8e8e2d;
        margin-left: calc(50% - 600px);
        margin-right: calc(50% - 600px);
        border-radius: 30px;
        &_div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
        }
        & h1 {
            border-top-left-radius: 10px;
            border-top-right-radius: 15px;
            line-break: auto;
            padding-left: 10px;
            padding-right: 5%;
            font-size: 32px;
            border-top: #000 1px solid;
            border-left: #000 1px solid;
        }
        & p {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        &_edit {
            background-color: transparent;
            font-size: 20px;
            box-sizing: border-box;
            padding: 8px;
            border-radius: 10px;
        }
        &_input {
            width: 200px;
            height: 50px;
            border: 1px solid #000000;
            border-radius: 10px;
            padding: 10px;
            box-sizing: border-box;
            font-weight: 400;
            font-size: 20px;
            white-space: normal;
        }
    }
    &__cart{
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-top: 48px;
    }
    &__history{
        display: flex;
        flex-direction: column;
        gap: 12px;
        & section {
            border-top: 3px solid #000;
        }
    }
}
.cart {
    &__top{
        display: flex;
        justify-content: space-between;
        & div {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        & button {
            width: 250px;
            padding: 10px;
            background: #5E8A62;
            border-radius: 15px;
            color: #FFFFFF;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            border: none;
            line-height: 37px;
            transition: all 0.2s;
            &:active {
                transform: scale(1.05);
            }
        }
    }
    border-top: 3px solid #000;
    &__item {
        box-sizing: border-box;
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        border-bottom: 3px solid #000;
        &_left {
            display: flex;
            justify-content: left;
            gap: 48px;
            width: 65%;
            &_column {
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-left: 8px double black;
            }
            
            &_amount {
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 60%;
                gap: 10px;
                & button {
                    background-color: #5E8A62;
                    border: none;
                    border-radius: 10px;
                    color: white;
                    height: 30px;
                    width: 40%;
                    transition: all 0.1s;
                    &:active {
                        scale: 1.05;
                    }
                }
                & .disabled_decrease {
                    color: #000;
                    background-color: #fff;
                    border: 1px solid #000;
                    &:active{
                        scale:1;
                    }
                }
                
            }
        }
        &_right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 55%;
        }
        &_description {
            word-break: break-word;
            padding-left: 10px;
            height: 250px;
            overflow-y: scroll;
        }
        &_order {
            display: flex;
            gap: 16px;
            & button {
                width: 150px;
                padding: 10px;
                background: #5E8A62;
                border-radius: 15px;
                color: #FFFFFF;
                font-style: normal;
                border: none;
                font-weight: 500;
                font-size: 30px;
                line-height: 37px;
                transition: all 0.2s;
                &:active {
                    transform: scale(1.05);
                }
            }
        }
        &_overall {
            width: fit-content;
            position: relative;
            right: 10px;
            padding: 10px;
            border-radius: 10px;
            background-color: #8e8e8e2d;
        }
    }
}
.history__item.hidden, .history__section.hidden {
    opacity: 0;
    height: 0;
    gap: 0;
    padding: 0;
    margin: 0;
    transform: translateY(20px); /* move down a little */
    pointer-events: none; /* makes it unclickable */
}
.history{
    &__section{
        padding-top: 32px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 30px;

        transition: opacity 0.5s, transform 0.5s, height 1.5s;
        opacity: 1;
        transform: translateY(0);
    }
    &__top{
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
        & button {
            width: 150px;
            padding: 10px;
            background: #5E8A62;
            border-radius: 15px;
            color: #FFFFFF;
            font-style: normal;
            border: none;
            font-weight: 500;
            font-size: 30px;
            line-height: 37px;
            transition: all 0.2s;
            &:active {
                transform: scale(1.05);
            }
        }
    }
    &__item{
        display: flex;
        width: 100%;
        gap: 10px;

        transition: opacity 0.5s, transform 0.5s, height 1.5s, scale 0.2s;
        opacity: 1;
        transform: translateY(0);
        &:hover{
            scale: 1.01;
        }
        &_right {
            border-left: #000 solid 3px;
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            word-break: break-word;
            text-align: justify;
            & button {
                width: 100%;
                padding: 10px;
                background: #5E8A62;
                border-radius: 15px;
                color: #FFFFFF;
                font-style: normal;
                border: none;
                font-weight: 500;
                font-size: 30px;
                line-height: 37px;
                transition: all 0.2s;
                &:active {
                    transform: scale(1.05);
                }
            }
        }
    }
}
.admin_panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & h2 {
        text-align: center;
    }
}